html {
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
}


body {
	margin: 0;
	font-family: 'Gilroy';
	background-color: #0B1D26;
	background-image: url("../img/background/BG.jpg");
	background-size: 100% auto;
	background-repeat: no-repeat;
	color: white;

}

/* BASE */

.container-wide {
	margin: 0 auto;
	width: 1760px;
	padding: 0 15px;
}

.container {
	max-width: 1492px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.row {
	display: flex;
}

.space-between {
	justify-content: space-between;
}

.align-center {
	align-items: center;
}




/* HEADER */
.header {
	padding-top: 64px;
	padding-bottom: 843px;
}

.nav-wrapper {
	margin-bottom: 198px;
}


.logo {
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	font-size: 32px;
}

.nav {
	font-weight: 700;
	font-size: 18px;
}

.nav ul {
	display: flex;


	margin: 0;
	padding: 0;
	list-style-type: none;
}

.nav li + li {
	margin-left: 40px;
}

.nav a {
	color: white;
	text-decoration: none;
	transition: color .2s ease-in;
}

.nav a:hover {
	color: #FBD784;
}


.login {
	font-size: 18px;
	font-weight: 700;
	text-decoration: none;
	color: white;
	transition: color .2s ease-in;
}

.login:hover {
	color: #FBD784;
}


/* HERO */

.hero {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 950px;
	padding-left: 15px;
	padding-right: 15px;
	text-decoration: none;
	transition: transform .5s cubic-bezier(0.660, 0.215, 0.295, 1.640);
}

.hero:hover {
	transform: translateY(-5%);

}

.hero-category {
	margin-bottom: 32px;
	position: relative;
	font-weight: 800;
	padding-left: 104px;
	font-size: 18px;
	line-height: 1.222;
	letter-spacing: 6px;
	text-transform: uppercase;
	color: #FBD784;

}

.hero-category::before {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	display: block;
	content: "";
	width: 72px;
	height: 2px;
	background-color: #FBD784;

}

.hero-title {
	margin-bottom: 32px;
	font-family: 'Playfair Display', serif;
	font-style: normal;
	font-weight: 600;
	font-size: 80px;
	line-height: 1.136;
	text-transform: capitalize;
	color: white;

}

.hero-scroll {
	position: relative;
	display: inline-block;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.222;
	color: white;
	padding-right: 32px;
}

.hero-scroll::after {
	display: block;
	content: "";
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 16px;
	height: 24px;
	background-image: url("../img/icons/arrow-down.svg");
}


/* MAIN */

/* ARTICLE */

.article {
	margin-bottom: 200px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.article:nth-child(even) {
	flex-direction: row-reverse;
}

.article-text {
	padding-left: 150px;
	max-width: 782px;
	position: relative; 
}

.article-text::before {
	position: absolute;
	left: 0;
	top: 0%;
	transform: translateY(-50%);
	display: block;
	content: attr(data-number);
	width: 240px;
	height: 240px;
	font-style: normal;
	font-weight: 700;
	font-size: 240px;
	line-height: 1;
	color: white;
	opacity: .1;
}



.article-subtitle {
	margin-bottom: 32px;
	position: relative;
	font-weight: 800;
	padding-left: 96px;
	font-size: 18px;
	line-height: 1.222;
	letter-spacing: 6px;
	text-transform: uppercase;
	color: #FBD784;

}

.article-subtitle::before {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	display: block;
	content: "";
	width: 72px;
	height: 2px;
	background-color: #FBD784;
}

.article-title {
	margin-bottom: 27px;
	max-width: 555px;
	font-family: 'Playfair Display', serif;

	font-style: normal;
	font-weight: 600;
	font-size: 64px;
	line-height: 1.2;
	color: white;
}

.article-text p {
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.78;
	color: white;
}


.article-more {
	position: relative;
	display: inline-block;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.222;
	color: #FBD784;
	padding-right: 40px;
}

.article-more::after {
	display: block;
	content: "";
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 24px;
	height: 16px;
	background-image: url("../img/icons/arrow-right.svg");
}

.article-img img {
	display: block;
}


/* FOOTER */

.footer {
	padding-bottom: 150px;
}

.footer-copyright {
	display: flex;
	flex-direction: column;
}

.footer-copyright-logo {
	margin-bottom: 24px;
}

.footer-copyright-desc {
	max-width: 303px;
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.78;
}

.footer-copyright-text {
	margin-top: auto;
	font-weight: 500;
	font-size: 18px;
	line-height: 1.78;
	color: white;
	opacity: 0.5;
}